@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
}

nav {
  position: sticky;
  top: 0;
  z-index: 50; /* 다른 요소보다 위에 배치 */
}

@layer components {
  input[type='radio']:checked {
    background-color: #000; /* 체크된 상태에서의 배경색을 검정색으로 설정 */
    border-color: #000; /* 테두리 색상도 검정색으로 설정 */
  }

  input[type='radio'] {
    appearance: none; /* 기본 스타일 제거 */
    -webkit-appearance: none; /* 크롬, 사파리 등 웹킷 기반 브라우저용 */
    width: 1.25rem;
    height: 1.25rem;
    background-color: #fff;
    border: 2px solid #d1d5db; /* 기본 테두리 색상 */
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
  }

  input[type='radio']:checked::before {
    content: '';
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background: #000; /* 체크 표시 색상 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
